.courses-products-wrapper {
    padding: 100px 0;
    background: linear-gradient(343.07deg, rgba(132, 59, 206, 0.06) 5.71%, rgba(132, 59, 206, 0) 64.83%);
    height: 150vh;
    overflow: auto;
    @media (max-width: 960px) {
        padding: 50px 0;
    }
    h1 {
        color: #ffffff;
        text-align: center;
        margin-bottom: 20px;
    }

    .products-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 390px));
        gap: 20px;
        justify-content: center;
        height: auto;
    }

    .product-item {
        background: hsla(271, 100%, 50%, 0.1);
        border-radius: 10px;
        position: relative;
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 350px;
        max-height: 580px;
        text-align: left;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }

        .img-wrapper {
            width: 100%;
            height: 550px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain, cover;
            }
        }

        h4 {
            color: #ffffff;
            padding: 10px 0;
            font-size: 1.2rem;
        }

        .desc {
            color: #ffffff;
            font-size: 0.9rem;
            line-height: 1.4;
            overflow: hidden;
            max-height: 4.2em;
            transition: max-height 0.3s ease;

        }

        .manual-icon {
            position: absolute;
            left: 30px;
            cursor: pointer;
            top: 30px;
            transform: scale(1.2);
        }

        .price {
            color: #8a2be2;
            padding-top: 10px;
            font-weight: bold;

        }

    }

    .main-div-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .toggle-buttons {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;

        button {
            padding: 10px 20px;
            background: hsla(271, 100%, 50%, 0.2);
            background: linear-gradient(225deg, hsla(271, 100%, 50%, 0.2) 0%, hsla(294, 100%, 50%, 0.2) 100%);
            background: -moz-linear-gradient(225deg, hsla(271, 100%, 50%, 0.2) 0%, hsla(294, 100%, 50%, 0.2) 100%);
            background: -webkit-linear-gradient(225deg, hsla(271, 100%, 50%, 0.2) 0%, hsla(294, 100%, 50%, 0.2) 100%);
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken(hsla(271, 100%, 50%, 0.2), 10%);
            }
        }
    }

}