.courses-products-wrapper {
    padding: 40px;
    background: linear-gradient(343.07deg, rgba(132, 59, 206, 0.06) 5.71%, rgba(132, 59, 206, 0) 64.83%);

    height: 100vh;

    h1 {
        color: #ffffff;
        text-align: center;
        margin-bottom: 20px;
    }

    .products-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .product-item {
        background: hsla(271, 100%, 50%, 0.1);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; // Выравнивание элементов
        min-height: 350px; // Фиксированная минимальная высота
        max-height: 450px; // Ограничение по максимальной высоте
        text-align: left;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        }

        .img-wrapper {
            width: 100%;
            height: 550px; // Фиксируем высоту изображения
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h4 {
            color: #ffffff;
            padding: 10px 0;
            font-size: 1.2rem;
        }

        .desc {
            color: #ffffff;
            font-size: 0.9rem;
            line-height: 1.4;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; // Обрезаем текст до 3 строк
            -webkit-box-orient: vertical;
            max-height: 4.2em; // Для трёх строк
            transition: max-height 0.3s ease;

            &.show-full {
                -webkit-line-clamp: unset; // Отменяем обрезку текста
                max-height: none; // Показываем весь текст
            }
        }

        .show-more {
            color: #8a2be2;
            cursor: pointer;
            font-size: 0.9rem;
            margin-top: 5px;
        }

        .price {
            color: #8a2be2;
            padding-top: 10px;
            font-weight: bold;
        }
    }
}