/* HeroSection.scss */

/* Основной контейнер */
.hero-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 80px 30px;
    background: rgb(25, 25, 36);
    text-shadow: 2px 2px 80px rgba(112, 107, 107, 0.646);
    color: white;

    @media (max-width: 960px) {
        padding: 66px 16px;
    }

    @media (max-width: 640px) {
        padding: 32px 16px;
    }
}

/* Фон секции */
.hero-bg {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1360px;
    overflow: hidden;
    padding: 0 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);


    @media (max-width: 960px) {
        justify-content: center;
        padding: 0;
    }
}

/* Внутренний контейнер */
.hero-inner-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;

    @media (max-width: 960px) {
        flex-direction: column;
    }
}

/* Левый контейнер */
.hero-left-container {
    width: 100%;
    order: 1;
    color: snow;

    @media (max-width: 960px) {
        order: 2;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 640px) {
        order: 2;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Правый контейнер */
.hero-right-container {
    width: 100%;
    display: flex;
    order: 2;
    justify-content: end;
    gap: 12px;

    @media (max-width: 960px) {
        order: 1;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }

    @media (max-width: 640px) {
        margin-bottom: 30px;
    }
}

/* Изображение */
.hero-img {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    border: 4px solid #3b1d55;
    animation: border-rotation 4s linear infinite;

    @media (max-width: 768px) {
        max-width: 400px;
        max-height: 400px;
    }

    @media (max-width: 640px) {
        max-width: 280px;
        max-height: 280px;
    }
}

// Сбалансированная анимация с более мягкими переходами
@keyframes border-rotation {
    0% {
        border-color: #3b1d55;
        /* Темно-фиолетовый */
    }

    25% {
        border-color: #685777;
        /* Немного светлее */
    }

    50% {
        border-color: #1d697b;
        /* Средне-фиолетовый */
    }

    75% {
        border-color: #974a3b;
        /* Вернуться к предыдущему цвету */
    }

    100% {
        border-color: #61418d;
        /* Возвращаемся к темно-фиолетовому */
    }
}


/* Заголовок */
.hero-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: white;

    @media (max-width: 960px) {
        text-align: center;
    }

    @media (max-width: 640px) {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 8px;
    }
}

/* Цикл текста */
.hero-text-loop {
    font-weight: 600;
    font-size: 32px;
    display: flex;
    gap: 12px;
    color: white;
    line-height: 68px;

    @media (max-width: 960px) {
        text-align: center;
    }

    @media (max-width: 640px) {
        font-size: 22px;
        line-height: 48px;
        margin-bottom: 16px;
    }
}

/* Выделенный текст */
.hero-span {
    color: #1a73e8; // Замените на ${({ theme }) => theme.primary}
    cursor: pointer;
}

/* Подзаголовок */
.hero-subtitle {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 42px;
    color: #ffffff;
    text-shadow: 2px 2px 80px rgba(194, 190, 190, 0.646);

    @media (max-width: 960px) {
        text-align: center;
    }

    @media (max-width: 640px) {
        font-size: 16px;
        line-height: 32px;
    }
}


/* Кнопка резюме */
.hero-resume-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    width: 95%;
    max-width: 300px;
    text-align: center;
    padding: 16px 0;
    color: #fff; // Замените на ${({ theme }) => theme.white}
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out !important;
    background: linear-gradient(225deg, hsla(271, 100%, 50%, 1) 0%, hsla(294, 100%, 50%, 1) 100%);
    box-shadow: 20px 20px 60px rgba(31, 38, 52, 0.7), -20px -20px 60px rgba(31, 38, 52, 0.7);

    &:hover {
        transform: scale(1.05);
        transition: all 0.4s ease-in-out;
        box-shadow: 20px 20px 60px rgba(31, 38, 52, 0.7);
        filter: brightness(1);
    }

    @media (max-width: 640px) {
        padding: 12px;
        font-size: 18px;
    }
}