.animation {
    transform: translateY(300px);
    filter: blur(5px);
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  
  .animation.active {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
  